.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-color: aquamarine;
   border-width: 20px;
   border-style: ridge;
}

#birthday
{
    margin-bottom: 50px;
}

